*{
    padding: 0;
    margin: 0;
}

.NavBar{
    background-color: darkslategray;
    width: 100vw;
    height: 10vh;
    color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}   